@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans";
  font-weight: 400;
}

.group .highlight:hover::after {
  background: transparent !important;
}

.group .highlight:hover {
  opacity: 1 !important;
}
